body {
  @include linear-gradient(to bottom, #44b3e8, #e29e94, #000d46)
}

// Full-width section elements
.section {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100% !important;

  @include media($medium-screen-up) {
    height: 100vh;
    justify-content: center;
  }

  &__inner {
    @include outer-container;
    padding: $base-spacing;
    @include media($medium-screen-up) { font-size: modular-scale(2); padding: 0; }
  }

  &__header {
    @include media($medium-screen-up) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
  }

  &__content {
    @include media($medium-screen-up) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
  }

  // Section types
  &.welcome,
  &.event-info,
  &.travel-accommodations,
  &.join-us {
    color: #fff;
    margin-bottom: 200px;

    @include media($medium-screen-up) {
      margin-bottom: 500px;
    }
  }

  &.welcome {}
  &.event-info {}
  &.travel-accommodations {}
  &.join-us {}

  // Typography
  h6 { font-size: modular-scale(-1); }
  h5 { font-size: modular-scale(0); }
  h4 { font-size: modular-scale(1); }
  h3 { font-size: modular-scale(2); }
  h2 { font-size: modular-scale(3); }
  h1 { font-size: modular-scale(4); }
}
