---
title: Laurel & Eric
---
%canvas#stars-bg

#welcome.section.welcome
  .section__inner
    .section__content
      %h1.page-title Laurel & Eric
      .page-subtitle
        Are Getting Married
        %br
        October 14, 2017
      .page-location
        In beautiful Joshua Tree, CA
.section.about-us
  .section__inner
    .section__content
      = image_tag("engagement1.jpg")
#our-story.section.about-us
  .section__inner
    %h2.section__header Our story
    .section__content
      :markdown
        We probably should have crossed paths sooner. For years, Eric worked
        at UCLA while Laurel was a student there, but despite sharing many
        common interests we never met on campus. We happened to
        meet at a party a few years later when we were both working at
        museums, and quickly became friends.

        After a year or two of getting to know each other as friends and
        colleagues, we both realized we wanted more out of the
        relationship and began dating; we've been inseperable ever since.
.section.about-us
  .section__inner
    .section__content
      :markdown
        Over the years we have shared some pretty great adventures: we've gotten
        to know the weird places of the desert outside of LA, visited utopian
        architectural communes, and bicycled 300 miles from Eureka to San
        Francisco. In the summer of 2016 we went on one of our greatest
        adventures yet, an epic trip to Greece and Berlin.

        Eric proposed on the slopes of the Acropolis overlooking Athens.
        Laurel said yes, and now we hope that you can join us to celebrate
        in one of our favorite places.
.section.about-us
  .section__inner
    .section__content
      = image_tag("us.jpg")
#event-info.section.event-info
  .section__inner
    %h2.section__header Event Information
    .section__content
      :markdown
        Our ceremony and reception will be held on the evening of Saturday,
        October 14, 2017. The festivities will take place at the **Green Acres
        Ranch** - a 2.5-acre ranch in California's beautiful High Desert
        just outside of the town of Joshua tree, a place that has been a haven
        for artists, rock stars, and dreamers for many years. Invitation and
        more info to come.

#travel.section.travel
  .section__inner
    %h2.section__header Travel Details
    .section__content
      :markdown
        [Green Acres Ranch, Joshua Tree CA](http://greenacresranch.wixsite.com/greenacresranch){:target="_blank"}  
        64577 Cactus Dr, Joshua Tree, CA 92252

        The Ranch is located just outside of Joshua Tree, CA, a small town
        in the high desert about 2 hours east of Los Angeles. For folks coming
        in from out of town, the closest airport is the Palm Springs International
        Airport (about 45 minutes away). Flying into LAX and renting a car is also
        a viable option. More detailed directions can be found [here](http://greenacresranch.wixsite.com/greenacresranch/directions){:target="_blank"}.

#accommodations.section.accommodations
  .section__inner
    %h2.section__header Accommodations
    .section__content
      :markdown
        October is the peak tourist season for Joshua Tree. We are encouraging
        guests to book a place to stay **as soon as possible.** Here are some
        suggestions:

        - **AirBnB**: Joshua Tree and Palm Springs are full of interesting vacation
          rental properties [We've compiled a list](http://abnb.me/EVmg/VSi8G0sWPy){:target="_blank"}
          of some interesting homes to help you get started! (AirBnB login
          required to view the listings.)
        - **Hotels**: Some nearby hotels include:
            [Holiday Inn Express & Suites](http://www.ihg.com/holidayinnexpress/hotels/us/en/twentynine-palms/tnpma/hoteldetail){:target="_blank"},
            the [29 Palms Inn](http://www.29palmsinn.com/){:target="_blank"}, and the
            [Best Western](https://www.bestwestern.com/en_US/book/hotel-details.05405.html){:target="_blank"} in 29 Palms.
        - **Camping**: Camping is available in the Joshua Tree national park. If
            you want to camp, you should reserve a campsite the day they become
            available (six months in advance of the time you intend to stay).
            More information can be found
            [here](https://www.nps.gov/jotr/planyourvisit/campgrounds.htm). The
            Indian Cove campsite is the closest to the event venue.
#rsvp.section.join-us
  .section__inner
    %h2.section__header Join US / RSVP
    .section__content
      %p
        An RSVP form is available
        = link_to("here.", "https://goo.gl/forms/svv31fhjwrlOPk6O2", {:target => :blank})
        We hope to see you in October!
#registry.section.registry
  .section__inner
    %h2.section__header Registry
    .section__content
      :markdown
        Gifts are not necessary, we want your company most of all!

        However, for those wishing to give a small gift, we have set up a registry with a
        travel fund and some charitable organizations that we support
        [here](https://www.zola.com/registry/laurelanderic).

