---
title: Laurel & Eric
---
#welcome.section.welcome
  .section__inner
    .section__content
      = image_tag "script_sketch_white.svg"
#our-story.section.event-info
  .section__inner
    %h2.section__header About Us
    .section__content
      :markdown
        We probably should have crossed paths sooner, since Eric worked at UCLA
        during most of Laurel's time there. But they met a few years later at a
        party while they were both working at nearby museums. As fellow design-
        nerds and avid cyclists, a friendship quickly blossomed. Then we started
        dating. In 2013 they participated in the Climate Ride together, biking
        over 300 miles from Eureka, CA to San Francisco.

        In the summer of 2016 they took the trip of a lifetime together,
        traveling to Greece and Germany. On the slopes of the Acropolis, Eric
        proposed to Laurel. And of course she said yes.
#event-info.section.event-info
  .section__inner
    %h2.section__header Event Information
    .section__content
      = lorem.paragraphs(2)

#travel-and-accommodations.section.travel-accommodations
  .section__inner
    %h2.section__header Travel & Accommodations
    .section__content
      = lorem.paragraphs(2)

#rsvp.section.join-us
  .section__inner
    %h2.section__header Join US / RSVP
    .section__content
      = lorem.paragraphs(2)
