---
title: Laurel & Eric
---
%canvas#stars-bg

#welcome.section.welcome
  .section__inner
    .section__content
      %h1.page-title Laurel + Eric
      .page-subtitle
        Are Getting Married
        %br
        October 14, 2017
      .page-location
        In beautiful Joshua Tree, CA
#our-story.section.about-us
  .section__inner
    %h2.section__header Our story
    .section__content
      :markdown
        We probably should have crossed paths sooner. For years, Eric worked
        at UCLA while Laurel was a student there, but despite sharing many
        common interests we never met on campus. We happened to
        meet at a party a few years later when we were both working at
        museums, and quickly became friends.

        After a year or two of getting to know each other as friends and
        colleagues, we both realized we wanted more out of the
        relationship and began dating; we've been inseperable ever since.
.section.about-us
  .section__inner
    .section__content
      :markdown
        Over the years we have shared some pretty great adventures:
        we've gotten to know the weird places of the desert outside of LA,
        visited utopian architectural communes, and bicycled 300 miles from
        Eureka to San Francisco. In the summer of 2016 we went on one of the
        greatest adventures yet, an epic trip to Greece and Berlin.

        Eric thought that the back streets of Athens that wind up the slopes of
        the Acropolis were as good a place to propose as any. Laurel said yes,
        and now we hope you can join us in one of our favorite places to celebrate.
.section.about-us
  .section__inner
    .section__content
      = image_tag("us.jpg")
#event-info.section.event-info
  .section__inner
    %h2.section__header Event Information
    .section__content
      :markdown
        ### Ceremony and Reception
        **Green Acres Ranch, Joshua Tree CA**  
        6600 Sunkist Road, Twentynine Palms, CA, United States

        XXPM until XXPM  
        Attire details  
        other stuff?

#travel-and-accommodations.section.travel
  .section__inner
    %h2.section__header Travel Details
    .section__content
      :markdown
        ### Green Acres Ranch, Joshua Tree CA
        6600 Sunkist Rd, Joshua Tree, CA 92252

        The Ranch is located just outside of Joshua Tree, CA, a small town
        in the high desert about 2 hours east of Los Angeles. For folks coming
        in from out of town, the closest airport is the Palm Springs International
        Airport (about 45 minutes away). Flying into LAX and renting a car is also
        a viable option.
#registry.section.registry
  .section__inner
    %h2.section__header Registry
    .section__content
      = lorem.paragraphs(1)

#rsvp.section.join-us
  .section__inner
    %h2.section__header Join US / RSVP
    .section__content
      = lorem.paragraphs(1)

