---
title: Laurel & Eric
---
.section.welcome
  .section__inner
    %h2.section__header Welcome
    .section__content
      :markdown
        If you found yourself here, it's because you're invited to join us in
        celebrating Laurel and Eric's wedding. The event will take place in
        beautiful Joshua Tree, CA - about 40 miles from Palm Springs.

        You may be wondering, why Joshua Tree? For starters, it is absolutely
        beautiful (you'll see). Eric and Laurel spent a few lovely fall weekends
        in the area when they were first dating. We discovered a truly unique
        venue just outside the town of Joshua Tree. This 2.5-acre ranch used to
        be a hippy commune which was visited by many famous musicians and artists,
        including Iron Butterfly and Keith Richards. A great place for a party!
.section.event-info
  .section__inner
    %h2.section__header About Us
    .section__content
      :markdown
        We probably should have crossed paths sooner, since Eric worked at UCLA
        during most of Laurel's time there. But they met a few years later at a
        party while they were both working at nearby museums. As fellow design-
        nerds and avid cyclists, a friendship quickly blossomed. Then we started
        dating. In 2013 they participated in the Climate Ride together, biking
        over 300 miles from Eureka, CA to San Francisco.

        In the summer of 2016 they took the trip of a lifetime together,
        traveling to Greece and Germany. On the slopes of the Acropolis, Eric
        proposed to Laurel. And of course she said yes.
.section.event-info
  .section__inner
    %h2.section__header Event Information
    .section__content
      = lorem.paragraphs(2)

.section.travel-accommodations
  .section__inner
    %h2.section__header Travel & Accommodations
    .section__content
      = lorem.paragraphs(2)

.section.join-us
  .section__inner
    %h2.section__header Join US / RSVP
    .section__content
      = lorem.paragraphs(2)
