---
title: Laurel & Eric
---
.section.welcome
  .section__inner
    %h2.section__header Welcome
    .section__content
      = lorem.paragraphs(2)

.section.event-info
  .section__inner
    %h2.section__header Event Information
    .section__content
      = lorem.paragraphs(2)

.section.travel-accommodations
  .section__inner
    %h2.section__header Travel & Accommodations
    .section__content
      = lorem.paragraphs(2)

.section.join-us
  .section__inner
    %h2.section__header Join US / RSVP
    .section__content
      = lorem.paragraphs(2)
